/* Everything on page styling */
:root {
  --primary: #457b9d;
  --primary-variant: #e63946;
  --primary-shadow: #111;
  --secondary: #a8dadc;
  --secondary-variant: #566666;
  --secondary-shadow: #fff;
  --background: #f1faee;
  --error: #b00020;
  --primary-text: #fff;
  --space-stone: #266ef6;
  --power-stone: #e429f2;
  --soul-stone: #ff8b00;
  --reality-stone: #ff0130;
  --mind-stone: #ffd300;
  --time-stone: #12e772;
  --secondary-text: #111;
  --base-spacing: 8px;
}

/* repeating-linear-gradient(145deg, var(--reality-stone) 40px,
      var(--soul-stone) 80px, var(--mind-stone) 120px,
      var(--time-stone) 160px, var(--space-stone) 200px,
      var(--primary-shadow) 240px, var(--power-stone) 280px,
        var(--secondary-shadow) 300px),
      repeating-linear-gradient(-190deg, var(--reality-stone) 30px,
      var(--soul-stone) 60px, var(--mind-stone) 90px,
      var(--time-stone) 120px, var(--space-stone) 150px,
        var(--primary-shadow) 180px, var(--power-stone) 210px,
        var(--secondary-shadow) 230px),
      repeating-linear-gradient(45deg, var(--reality-stone) 50px, var(--soul-stone) 100px,
      var(--mind-stone) 150px, var(--time-stone) 200px, var(--space-stone) 250px,
      var(--primary-shadow) 300px, var(--power-stone) 350px, var(--secondary-shadow) 370px); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* Global styling */

li {
  list-style-type: none;
}

/* Body styling */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Mukta", sans-serif;
  font-size: 10px;
  background: url(./images/Superhero_Collage.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Header styling */

header {
  width: 100%;
  margin: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--primary);
}

header > figure > img {
  margin: var(--base-spacing);
  margin-right: calc(var(--base-spacing) * 2);
  border-radius: 50%;
  width: 115px;
  height: 115px;
  box-shadow: 3px 5px 4px var(--primary-variant);
}

header > h1 {
  color: var(--primary-text);
  font-size: 4em;
  line-height: 50px;
  text-shadow: 2px 1.5px var(--primary-shadow);
  text-align: center;
}

/* Navigation styling */

nav {
  border-top: none;
  position: relative;
  height: 0;
}

nav ul {
  list-style-type: none;
}

nav li a,
footer li a {
  text-decoration: none;
  font-size: 1.8em;
  padding: var(--base-spacing);
  text-align: center;
  color: var(--secondary-variant);
  text-shadow: 1px 1px var(--primary-shadow);
}

nav ul {
  height: 8vh;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--base-spacing);
  background: var(--background);
  transform: translateY(-50px);
  transition: ease 0.75s;
}

nav .is-hidden--mobile {
  height: 0;
  margin: 0;
  opacity: 0;
  z-index: -1;
}

nav .fas {
  font-size: 4.5em;
  position: absolute;
  margin: var(--base-spacing);
  transform: translateX(calc(100vw - (var(--base-spacing) * 12)));
  z-index: 2;
}

nav .fas:hover {
  cursor: pointer;
  color: #ddd;
  font-size: 4.8em;
}

/* Hero image style */

.hero-image {
  height: 40vh;
  max-height: 420px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-image p {
  margin: calc(var(--base-spacing) * 2);
  padding: calc(var(--base-spacing) * 2);
  width: calc(100vw - calc(var(--base-spacing) * 3));
  background: var(--secondary-variant);
  text-align: center;
  font-size: 2.5em;
  color: var(--primary-text);
  border-radius: var(--base-spacing);
  text-shadow: -1.5px 0 var(--primary-shadow), 0 1.5px var(--primary-shadow),
    1.5px 0 var(--primary-shadow), 0 -1.5px var(--primary-shadow);
  box-shadow: 0 0, 0 4.25px var(--primary-shadow),
    3.75px 0 var(--primary-shadow), 0 0;
  transform: translateY(calc(var(--base-spacing) * 3));
}

.stone-div {
  /* width: 90vw; */
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: var(--primary-shadow);
  grid-column-gap: 16px;
  padding: 10px;
  grid-row-gap: 16px;
}

.stone {
  width: 7.5vw;
  height: 7.5vh;
  margin: 5px;
}

.grid-item {
  display: flex;

}

.stone-name {
  margin: calc(var(--base-spacing) / 2);
  padding: calc(var(--base-spacing) / 2);
  width: calc(12vw - calc(var(--base-spacing) * 3));
  font-size: 2.4em;
  color: var(--primary-text);
  border-radius: var(--base-spacing);
  text-shadow: -1.5px 0 var(--primary-shadow), 0 1.5px var(--primary-shadow),
    1.5px 0 var(--primary-shadow), 0 -1.5px var(--primary-shadow);
}

.space-stone {
  background: var(--space-stone);
}

.space-stone:hover {
  box-shadow: -4px 1px 6px -1px var(--space-stone);
}

.power-stone {
  background: var(--power-stone);
}

.power-stone:hover {
  box-shadow: -4px 1px 6px -1px var(--power-stone);
}

.soul-stone {
  background: var(--soul-stone);
}

.soul-stone:hover {
  box-shadow: -4px 1px 6px -1px var(--soul-stone);
}

.reality-stone {
  background: var(--reality-stone);
}

.reality-stone:hover {
  box-shadow: -4px 1px 6px -1px var(--reality-stone);
}

.mind-stone {
  background: var(--mind-stone);
}

.mind-stone:hover {
  box-shadow: -4px 1px 6px -1px var(--mind-stone);
}

.time-stone {
  background: var(--time-stone);
}

.time-stone:hover {
  box-shadow: -4px 1px 6px -1px var(--time-stone);
}

/* Main styling */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sub-header {
  padding: var(--base-spacing);
  margin: var(--base-spacing);
  background-color: var(--primary);
  text-align: center;
  color: var(--primary);
  font-size: 3.2em;
  border: 2px solid var(--primary-shadow);
  line-height: calc(var(--base-spacing) * 4);
  text-shadow: -2px 0 var(--primary-shadow), 0 2px var(--primary-shadow),
    2px 0 var(--primary-shadow), 0 -2px var(--primary-shadow);
  box-shadow: 2.75px 2.5px 2px var(--primary-shadow);
}

.flex-container--mobile---column {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.flex-container--mobile---row {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

section {
  margin: calc(var(--base-spacing) * 2);
  padding: calc(var(--base-spacing) * 2);
  width: calc(100vw - calc(var(--base-spacing) * 3));
  background: var(--secondary-variant);
  color: var(--primary-text);
  text-shadow: px 1.5px var(--primary-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: var(--base-spacing);
  box-shadow: 0 0, 0 4.25px var(--primary-shadow),
    3.75px 0 var(--primary-shadow), 0 0;
}

.read-more {
  margin: calc(var(--base-spacing) / 2);
  padding: calc(var(--base-spacing) / 2);
  color: var(--primary-text);
  text-shadow: 1.5px 1.5px var(--primary-shadow);
  background-color: var(--secondary-variant);
  font-size: 2em;
  border-radius: var(--base-spacing);
  box-shadow: 1px 1px var(--secondary-shadow);
  text-decoration: none;
  text-align: center;
}

.read-more:hover {
  cursor: pointer;
  color: var(--primary-text);
  text-shadow: 1px 1px var(--primary-shadow);
  background-color: var(--primary-shadow);
}

.home-images {
  width: 280px;
  height: 300px;
  padding: 20px;
}

section p {
  text-align: center;
  line-height: 1.6em;
  margin: var(--base-spacing);
  padding: calc(var(--base-spacing) * 1.5);
  font-size: 1.6em;
  display: inline-block;
}

.grid-container {
  display: grid;
  grid-template-rows: 60vh auto;
}

.movie-poster {
  height: 30vh;
  width: auto;
  margin: calc(var(--base-spacing) * 1);
  box-shadow: 2.75px 2.75px var(--primary-shadow);
}

.movie-sections:nth-child(1n + 0) {
  background: var(--space-stone);
}
.movie-sections:nth-child(2n + 0) {
  background: var(--power-stone);
}
.movie-sections:nth-child(3n + 0) {
  background: var(--soul-stone);
}
.movie-sections:nth-child(4n + 0) {
  background: var(--reality-stone);
}
.movie-sections:nth-child(5n + 0) {
  background: var(--mind-stone);
}
.movie-sections:nth-child(6n + 0) {
  background: var(--time-stone);
}

.card-container {
  width: 90vw;
  margin: var(--base-spacing) 0;
  border: 1.5px solid var(--primary-shadow);
  border-radius: 2.5%;
  background: var(--primary);
  box-shadow: 2.25px 2.4px 2px var(--secondary-variant);
}

.card-labels {
  color: var(--primary-text);
  text-shadow: 1.5px 1px var(--primary-shadow);
  width: 100%;
  max-height: 57.5vh;
  line-height: 2.5em;
  text-align: center;
  padding: calc(var(--base-spacing) * 1.25);
}

.card-labels h3 {
  font-size: 3.2em;
  text-decoration: underline;
}

.card-labels h4 {
  width: 80%;
  font-size: 1.6em;
}

.learn-more {
  font-size: 1.8em;
}

.card-labels p {
  font-size: 1.4em;
  text-align: justify;
  padding: var(--base-spacing);
}

/* Footer style */

footer {
  background: var(--background);
}

footer ul {
  margin: 0;
  display: flex;
  justify-content: space-around;
  padding: var(--base-spacing);
}

footer p {
  text-align: center;
  font-size: 1.6em;
  color: var(--secondary-variant);
  text-shadow: 1px 1px var(--secondary-shadow);
  padding: var(--base-spacing);
}

/* Media queries */

/* Tablet view */
@media screen and (min-width: 768px) {
  .display-desktop {
    width: 95vw;
  }

  section {
    width: calc(100vw - calc(var(--base-spacing) * 6));
    flex-direction: column;
  }

  .hero-image {
    height: 60vh;
  }

  nav li a {
    font-size: 2em;
  }

  footer li a {
    font-size: 2.5em;
  }

  nav {
    height: 0;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
    padding: var(--base-spacing);
  }

  nav .is-hidden--desktop {
    height: 0;
    font-size: 0;
    margin: 0;
  }

  nav .show-on--desktop {
    opacity: 1;
    height: auto;
    min-height: 1em;
    max-height: none;
    font-size: initial;
  }

  .hero-image p {
    font-size: 4em;
  }

  .section-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: var(--base-spacing);
  }

  .card-labels {
    margin: var(--base-spacing) 0;
    line-height: 2.75em;
    max-height: 65vh;
  }

  .movie-poster {
    height: 25vh;
    width: auto;
    margin: calc(var(--base-spacing) * 1);
  }

  .movie-sections {
    padding: calc(var(--base-spacing) * 3);
    width: auto;
  }

  .movies-container {
    height: 55vh;
    width: auto;
  }

  .grid-container {
    display: grid;
    grid-template-rows: 25vh auto;
  }

  .read-more {
    font-size: 1.4em;
  }
}

/* Desktop view */
@media screen and (min-width: 1068px) {
  /* Header */

  header {
    flex-direction: row;
    padding: calc(var(--base-spacing) * 2);
  }

  header figure {
    margin-left: calc(var(--base-spacing)) * 0.5;
  }

  .movie-poster {
    height: 32.5vh;
    width: auto;
    margin: calc(var(--base-spacing) * 1);
  }

  .movie-sections {
    padding: calc(var(--base-spacing) * 3);
    width: auto;
  }

  .hero-image p {
    width: 75vw;
  }

  /* Navigation */

  nav {
    height: 0;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
    padding: var(--base-spacing);
  }

  nav .is-hidden--desktop {
    height: 0;
    font-size: 0;
    margin: 0;
  }

  nav .show-on--desktop {
    opacity: 1;
    height: auto;
    min-height: 1em;
    max-height: none;
    font-size: initial;
  }

  /* Main */

  section {
    width: 33%;
    margin: calc(var(--base-spacing) * 2);
    flex-direction: column;
  }

  .card-container {
    width: auto;
  }

  .read-more {
    font-size: 2.4em;
  }

  .movies-container {
    height: 75vh;
    width: auto;
  }


  .grid-container {
    display: grid;
    grid-template-rows: 37vh auto;
  }

  .flex-container--desktop {
    display: flex;
    flex-direction: column;
  }

  .flex-direction--row {
    flex-direction: row;
  }

  .flex-container--desktop---row {
    display: flex;
    align-items: center;
    align-content: center;
  }

  .flex-container--mobile---row {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
}
