/* Everything on page styling */
:root {
  --primary: #457b9d;
  --primary-variant: #e63946;
  --primary-shadow: #111;
  --secondary: #a8dadc;
  --secondary-variant: #566666;
  --secondary-shadow: #fff;
  --background: #f1faee;
  --error: #b00020;
  --primary-text: #fff;
  --secondary-text: #111;
  --base-spacing: 8px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Global styling */

li {
  list-style-type: none;
}

/* Body styling */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Mukta", sans-serif;
  background: -webkit-repeating-linear-gradient(55deg, var(--secondary) 15%, var(--secondary-variant) 30%);
  font-size: 10px;
}

/* Header styling */

header {
  width: 100%;
  margin: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header > figure > img {
  margin: var(--base-spacing);
  margin-right: calc(var(--base-spacing) * 2);
  border-radius: 50%;
  width: 115px;
  height: 115px;
  box-shadow: 3px 5px 4px var(--primary-variant);
}

header > h1 {
  color: var(--primary-text);
  font-size: 4em;
  line-height: 50px;
  text-shadow: 2px 1.5px var(--primary-shadow);
  text-align: center;
}

/* Navigation styling */

nav {
  border-top: none;
  position: relative;
  height: 0;
}

nav ul {
  list-style-type: none;
}

nav li a,
footer li a {
  text-decoration: none;
  font-size: 2.75em;
  padding: var(--base-spacing);
  text-align: center;
  color: var(--secondary-variant);
  text-shadow: 1px 1px var(--primary-shadow);
}

nav ul {
  height: 30vh;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--base-spacing);
  background: var(--background);
  transition: ease 0.75s;
}

nav li a:hover,
footer li a:hover {
  font-size: 2.1em;
  font-weight: 800;
}

nav .is-hidden--mobile {
  height: 0;
  margin: 0;
  opacity: 0;
  z-index: -1;
}

nav .fas {
  font-size: 4.5em;
  position: absolute;
  margin: var(--base-spacing);
  transform: translateX(calc(100vw - (var(--base-spacing) * 10)));
  z-index: 2;
}

nav .fas:hover {
  cursor: pointer;
  color: #ddd;
  font-size: 4.8em;
}

/* Hero image style */

.hero-image {
  background: url(./images/marvel_dc_stock_image.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  max-height: 420px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image span {
  background-color: var(--secondary);
  font-size: 2.4em;
  padding: var(--base-spacing);
  border-radius: var(--base-spacing);
}

.hero-image span:hover {
  background-color: var(--secondary-variant);
}

/* Main styling */

main {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sub-header {
  width: 60%;
  padding: var(--base-spacing);
  margin: var(--base-spacing);
  background-color: var(--secondary);
  text-align: center;
  color: var(--primary-text);
  font-size: 2.4em;
  line-height: calc(var(--base-spacing) * 4);
  text-shadow: 2px 2px var(--primary-shadow);
  box-shadow: 1px 1px var(--secondary-shadow);
}

.flex-container--mobile---row {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
}

.flex-container--mobile---column {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

section {
  margin: calc(var(--base-spacing) * 3);
  padding: calc(var(--base-spacing) * 2);
  width: calc(100vw - calc(var(--base-spacing) * 2));
  background: var(--primary);
  color: var(--primary-text);
  text-shadow: px 1.5px var(--primary-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: var(--base-spacing);
}

.read-more {
  width: 50%;
  line-height: 2em;
  margin: var(--base-spacing);
  color: var(--primary-text);
  text-shadow: 1.5px 1.5px var(--primary-shadow);
  background-color: var(--secondary);
  font-size: 1.6em;
  border-radius: var(--base-spacing);
  box-shadow: 1px 1px var(--secondary-shadow);
  text-decoration: none;
  text-align: center;
}

.read-more:hover {
  cursor: pointer;
  color: var(--primary-text);
  text-shadow: 1px 1px var(--primary-shadow);
  background-color: var(--secondary-variant);
}

section p {
  text-align: center;
  line-height: 1.6em;
  padding: (var(--base-spacing) * 1.75);
  font-size: 1.6em;
  display: inline-block;
}

section img {
  height: 20vh;
  width: 15vw;
  margin: calc(var(--base-spacing) * 1);
}

.card-container {
  width: 90%;
  margin: var(--base-spacing);
  border: 3px solid var(--primary-shadow);
  border-radius: 2.5%;
  box-shadow: 2px 2px 1px var(--secondary);
}

.card-labels {
  width: 80%;
  line-height: 3.5em;
  text-align: center;
  margin: calc(var(--base-spacing) / 2);
}

.card-labels h3 {
  font-size: 2.8em;
}

.card-labels h4 {
  font-size: 2.4em;
}

/* Footer style */

footer {
  background: var(--background);
}

footer ul {
  margin: 0;
  display: flex;
  justify-content: space-around;
  padding: var(--base-spacing);
}

footer p {
  text-align: center;
  font-size: 1.6em;
  color: var(--secondary-variant);
  text-shadow: 1px 1px var(--secondary-shadow);
  padding: var(--base-spacing);
}

/* Media queries */

/* Tablet view */
@media screen and (min-width: 768px) {
  section {
    width: calc(100vw - var(--base-spacing));
    flex-direction: column;
  }

  .hero-image {
    height: 60vh;
  }

  nav li a {
  font-size: 2em;
  }

  footer li a {
    font-size: 2.5em;
  }

  nav {
    height: 0;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
    padding: var(--base-spacing);
  }

  nav .is-hidden--desktop {
    height: 0;
    font-size: 0;
    margin: 0;
  }

  nav .show-on--desktop {
    opacity: 1;
    height: auto;
    min-height: 1em;
    max-height: none;
    font-size: initial;
  }
}

/* Desktop view */
@media screen and (min-width: 1068px) {

  /* Header */

  header {
    flex-direction: row;
    padding: calc(var(--base-spacing) * 2);
  }

  header figure {
    margin-left: calc(var(--base-spacing)) * .5;
  }

  .card-container {
    height: 25vh;
  }


  /* Navigation */

  nav {
    height: 0;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
    padding: var(--base-spacing);
  }

  nav .is-hidden--desktop {
    height: 0;
    font-size: 0;
    margin: 0;
  }

  nav .show-on--desktop {
    opacity: 1;
    height: auto;
    min-height: 1em;
    max-height: none;
    font-size: initial;
  }

  /* Main */

  section {
    margin: calc(var(--base-spacing) / 2);
    width: calc(100% - calc(var(--base-spacing) / 2));
    flex-direction: column;
  }

  section img {
    height: 15vh;
    width: 8vw;
    margin: calc(var(--base-spacing) * 1);
  }

  .flex-container--desktop {
    display: flex;
  }

  .flex-direction--row {
    flex-direction: row;
  }


}
